# Pandas DataFrame and Series

## 1. Pandas DataFrame

A **DataFrame** is a 2-dimensional labeled data structure, which means it can hold data in the form of rows and columns. It is similar to a table in a database or an Excel spreadsheet. Each column in a DataFrame can have a different data type (e.g., integers, floats, strings).

### Example of a DataFrame:

```python
import pandas as pd

# Creating a DataFrame
data = {
    'Date': ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04'],
    'Deposit Amount': [500, 600, 550, 700]
}

df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

## Creating DataFrames

#### Type 1

In [4]:
import pandas as pd

data = {"ProductName" :["Product A", "Product B", "Product C"], "ProductPrice":[22250, 16600, 12500]}
data_frame = pd.DataFrame(data)
data_frame

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

#### Type 2

In [3]:
data = {"ProductName" :["Product A", "Product B", "Product C"], "ProductPrice":[22250, 16600, 12500]}
data_frame = pd.DataFrame(data, index = ["A","B","C"])
data_frame

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

#### trying to add multiple price for a  product

In [6]:
data = {"ProductName" :["Product A", "Product B", "Product C"], "ProductPrice":[22250, 16600, [12500,13000]]}
data_frame = pd.DataFrame(data, index = ["A","B","C"])
data_frame

  ProductName    ProductPrice
A   Product A           22250
B   Product B           16600
C   Product C  [12500, 13000]

##### Warning: Though this is possible but it will result data inconsistency

#### trying to add data without value

In [14]:
data = {"ProductName" :["Product A", "Product B", "Product C", "Product D"], "ProductPrice":[22250, 16600, 12500]}
data_frame = pd.DataFrame(data, index = ["A","B","C","D"])
data_frame

ValueError: Length of values (3) does not match length of index (4)

##### It will throw an error : ValueError: Length of values (3) does not match length of index (4)